<header class="bg-dark py-5 service-header">
  <div class="container px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Upload a Picture</h1>
    </div>
  </div>
</header>
<br>
<div class="upload">
  <h2>Upload a File</h2>
  <form action="https://drive.google.com/file/d/1kR2Hi6IkouL3nTEIwlKQzOW8Jh3x-n7q/view?usp=sharing">
    <div class="file-input-wrapper">
      <input type="file" id="file" name="file" />
      <label for="file">
        <i class="fas fa-upload"></i> Select a file
      </label>
    </div>
    <button type="submit">Upload</button>
  </form>
</div>
